li a {
    color: rgb(208, 161, 7);
    text-decoration: none;
    font-size: 30px;
}

li a:hover {
    color: red
}

body {
    background-image:  url("images/Tennis.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}